@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
body,
button,
input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #121212;
}
a {
    text-decoration: none;
}
img,
button,
input {
    vertical-align: top;
}
button,
input {
    border: 0;
    background-color: transparent;
}
button {
    cursor: pointer;
}
fieldset {
    border: 0;
}
ul {
    list-style: none;
}
address {
    font-style: normal;
}
.hide {
    position: absolute;
    top: -99999px;
    left: -99999px;
    width: 0;
    height: 0;
    overflow: hidden;
}
