@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
button,
input {
    border: 0;
    background-color: transparent;
}
button {
    cursor: pointer;
}
ul {
    list-style: none;
}
address {
    font-style: normal;
}