@charset "utf-8";
@font-face {
    font-family: 'KHNPHD';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 모바일 아이폰 기준 */
@media screen and (max-width: 414px) {
    #wrap {
        position: relative;
        width: 100%;
        min-width: 320px;
    }
    #header {
        width: 100%;
        min-width: 320px;
        /* margin: 0 auto; */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    /* navbar */
    .navbar_box {
        position: relative;
        max-width: 414px;
        height: 50px;
        width: 100%;
        /* align-items: center; */
        background-color: #fff;
    }
    .navbar {
        margin: 0 auto;
        margin: 12px 10px;
        position: absolute;
        align-items: center;
        width: 92%;
        display: flex;
        /* justify-content: space-between; */
        background-color: var(--background-color);
    }
    .navbar .logo01 {
        font-size: 25px;
    }
    .navbar_logo h1 {
        /* position: absolute; */
        /* align-items: center; */
        margin-left: 50px;
        margin-top: 3px;
        width: 130px;
        height: 25px;
        background-size: 100%;
        background-image: url(./반응형_더케이\(클론코딩_참고자료\)/img/logo_site.svg);
        background-repeat: no-repeat;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .search_hotel {
        position: absolute;
        background-color: rgb(149, 119, 95);
        padding: 10px 17px;
        right: 0px;
        /* top: -5px; */
        font-size: 12px;
        color: #fff;
        font-weight: 500;
    }

    /* 햄버거메뉴 */
    .navbar_toggle_button {
        position: absolute;
        top: 3px;
    }
    .navbar_toggle_button span {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 20px;
        height: 3px;
        background-color: rgb(3, 3, 3);
        border-radius: 4px;
    }
    .navbar_toggle_button span:nth-of-type(1) {
        top: 0;
    }

    .navbar_toggle_button span:nth-of-type(2) {
        top: 8px;
    }

    .navbar_toggle_button span:nth-of-type(3) {
        top: 16px;
    }
    .menu-trigger.active-1 span:nth-of-type(1) {
        -webkit-transform: translateY (20px) rotate (-45deg);
        transform: translateY(20px) rotate(-45deg);
    }

    .menu-trigger.active-1 span:nth-of-type(2) {
        opacity: 0;
    }

    .menu-trigger.active-1 span:nth-of-type(3) {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-20px) rotate(45deg);
    }
    /* menu_box */
    .navbar_menu {
        display: none;
    }
    .navbar_menu li {
        align-items: center;
        border-bottom: 0.1em solid #999;
        padding: 20px 5px;
        align-items: center;
    }
    .navbar_menu .nav_text {
        font-size: 17px;
        color: #444;
        font-weight: 500;
    }
    .navbar_menu a i {
        position: absolute;
        margin-top: 6px;
        right: 35px;
        color: #777;
    }
    .navbar_language {
        display: flex;
        width: 90%;
        justify-content: space-between;
        font-size: 17px;
        color: #777;
        margin-top: 90px;
        margin-left: 80px;
    }
    .navbar_language li:hover {
        color: #444;
        border-bottom: 1px solid #444;
    }
    .navbar_language {
        display: none;
        width: 55%;
    }
    /* 햄버거버튼 active 효과 */
    .navbar_toggleBtn {
        display: block;
    }
    .menu_box.active {
        /* position: fixed; */
        background-color: #fff;
        width: 100%;
        height: 325px;
        /* top: 48px; */
        border-top: 1px solid #999;
        z-index: 100;
    }
    .navbar_menu.active {
        /* position: relative; */
        width: 80%;
        margin-left: 35px;
        display: none;
        padding-top: 40px;
        flex-direction: column;
    }
    .navbar_menu.active,
    .navbar_language.active {
        display: flex;
    }
    /* #main */
    #main {
        min-width: 320px;
        max-width: 414px;
        height: auto;
    }
    /* main01 */
    .main01_inner img {
        width: 100%;
        height: 475px;
    }
    .main01_text_box {
        position: absolute;
        bottom: 240px;
        color: #fff;
        left: 17px;
        font-family: 'KHNPHD', sans-serif;
    }
    .main01_text_box h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .main01_text {
        font-size: 13px;
    }
    .text02 {
        margin-bottom: 10px;
    }
    .main01_text_box button {
        width: 100px;
        height: 35px;
        border: 1px solid #fff;
        color: #fff;
        font-size: 11px;
        font-weight: 600;
    }
    /* main02 */
    #main02 {
        /* position: relative; */
        width: 100%;
        background-color: rgba(251, 251, 251, 0.884);
        margin-top: 0px;
    }
    .main02_inner {
        background-color: rgba(251, 251, 251, 0.884);
        height: 600px;
        margin: 0 auto;
    }
    .promotion_box {
        margin: 0 auto;
        /* width: 310px;
        height: 100px; */
        margin-top: 30px;
        text-align: center;
        padding: 30px;
    }
    .promotion_box h1 {
        font-size: 24px;
        letter-spacing: 0.5em;
        margin-bottom: 10px;
    }
    .promotion_box p {
        font-size: 14px;
        color: #666;
    }
    .slide_box {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
    }
    .slide_box img {
        width: 290px;
        height: 230px;
    }
    .slide_box .slide_img_box {
        border-top: 2px solid #555555;
        margin-left: 20px;
    }
    .slide_img {
        width: 100%;
        height: auto;
    }
    .main02_slide_textbox {
        /* position: relative; */
        height: 70px;
        background-color: #fff;
        padding: 20px;
        text-align: left;
    }
    .text_title {
        margin-bottom: 10px;
        font-weight: 600;
        color: #444;
        font-size: 17px;
    }
    .text_date {
        color: #777;
        font-size: 14px;
    }
    .local {
        position: absolute;
        font-size: 13px;
        margin-top: 23px;
        padding: 7px 11px;
        margin-left: 0px;
        border: 1px solid rgb(34, 42, 79);
        background-color: rgb(34, 42, 79);
        text-align: center;
        color: #fff;
        font-weight: 500;
    }
    .slide_pagination {
        /* position: absolute; */
        display: flex;
        gap: 3px;
        margin-top: 10px;
        margin-left: 35%;
    }
    .slide_pagination ul,
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .slide_pagination li {
        color: #7fb5ff88;
        cursor: pointer;
        font-size: 16px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-top: 10px;
        margin: 0 5px;
        background-color: #ccc;
        cursor: pointer;
        text-indent: -9999px;
    }
    .slide_pagination li .active {
        /* 현재 슬라이드 색상은 투명도 없이 */
        color: #909daf;
    }
    .slide_pagination .active {
        background-color: rgba(21, 41, 59, 0.849);
    }
    /* main03 */
    #main03 {
        /* position: relative; */
        width: 100%;
        height: 550px;
        margin-top: 0px;
    }
    .main03_inner {
        margin: 0 auto;
        height: 600px;
    }
    .package_box {
        margin: 0 auto;
        width: 290px;
        height: 100px;
        margin-top: 30px;
        padding: 30px;
        text-align: center;
    }
    .package_box h1 {
        font-size: 24px;
        letter-spacing: 0.5em;
        margin-bottom: 10px;
    }
    .package_box p {
        font-size: 14px;
        line-height: 19px;
        color: #666;
    }
    .slide_box_main03 {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .slide_box_main03 img {
        width: 290px;
        height: 230px;
    }
    .slide_box_main03 .slide_img_box_main03 {
        border-top: 2px solid #444;
        margin-left: 20px;
    }
    .slide_img_main03 {
        width: 100%;
        height: auto;
    }
    .main03_slide_textbox {
        position: relative;
        height: 70px;
        background-color: #fff;
        padding: 20px;
        text-align: left;
    }
    .text_title_main03 {
        margin-bottom: 10px;
        font-weight: 600;
        color: #444;
        font-size: 17px;
    }
    .text_date_main03 {
        color: #777;
        font-size: 14px;
    }
    .local_main03 {
        position: absolute;
        font-size: 13px;
        margin-top: 23px;
        padding: 7px 11px;
        margin-left: 0px;
        border: 1px solid rgb(34, 42, 79);
        background-color: rgb(34, 42, 79);
        text-align: center;
        color: #fff;
        font-weight: 500;
    }
    .slide_pagination {
        /* position: absolute; */
        display: flex;
        gap: 3px;
        margin-top: 10px;
        margin-left: 35%;
    }
    .slide_pagination ul,
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .slide_pagination li {
        color: #7fb5ff88;
        cursor: pointer;
        font-size: 16px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-top: 10px;
        margin: 0 5px;
        background-color: #ccc;
        cursor: pointer;
        text-indent: -9999px; /* 텍스트 안보이게 하기 => 뒤로 날리기 */
    }
    .slide_pagination li .active {
        /* 현재 슬라이드 색상은 투명도 없이 */
        color: #909daf;
    }
    .slide_pagination .active {
        background-color: rgba(21, 41, 59, 0.849);
    }
    /* 태블릿 i-pad mini 768px, i-pad air 820px*/
    @media screen and (min-width: 768px) {
        #header {
            position: absolute;
            width: 100%;
            margin: 0 auto;
            min-width: 768px;
        }
        /* navbar */
        .navbar_box {
            width: 100%;
            height: 40px;
        }
        .navbar {
            width: 100%;
            height: 35px;
            display: flex;
            align-items: center;
            margin: 12px 10px;
            /* position: absolute; */
            /* justify-content: space-between; */
            background-color: var(--background-color);
        }
        .navbar .logo01 {
            font-size: 25px;
        }
        .navbar_logo h1 {
            /* position: absolute; */
            align-items: center;
            margin-left: 20px;
            margin-top: 10px;
            width: 130px;
            height: 25px;
            background-size: 100%;
            background-image: url(./반응형_더케이\(클론코딩_참고자료\)/img/logo_site.svg);
            background-repeat: no-repeat;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
        .search_hotel {
            position: absolute;
            background-color: rgb(149, 119, 95);
            padding: 10px 17px;
            right: 10px;
            font-size: 12px;
            color: #fff;
            font-weight: 500;
        }
        /* menu_box */
        .navbar_menu {
            display: none;
            flex-wrap: nowrap;
        }
        .navbar_menu li {
            align-items: center;
            border-bottom: 0.1em solid #999;
            padding: 20px 5px;
            align-items: center;
        }
        .navbar_menu .nav_text {
            font-size: 17px;
            color: #444;
            font-weight: 500;
        }
        .navbar_menu a i {
            position: absolute;
            margin-top: 6px;
            right: 45px;
            color: #777;
        }
        .navbar_language {
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-size: 17px;
            color: #777;
            margin-top: 90px;
            margin-left: 120px;
        }
        .navbar_language li:hover {
            color: #444;
            border-bottom: 1px solid #444;
        }
        .navbar_language {
            display: none;
            width: 60%;
        }
        /* .navbar_toggleBtn{
        display: block;
    } */
        /* .menu_box.active{
        position: absolute;
        background-color: pink;
        width: 100%;
        height: 325px;
        top: 48px;
        border-top: 1px solid #263343;
    } */
        /* .navbar_menu.active{
        width: 10%;
        margin-left: 55px;
        display: none;
        padding-top: 40px;
        flex-direction: column;
    } */
        /* .navbar_menu.active,
    .navbar_language.active{
        display: flex;
    } */
        @media (min-width: 1260px) {
        }
    }
}
