@charset "utf-8";
@font-face {
    font-family: 'KHNPHD';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    width: 100%;
    overflow-x: hidden;
}
/* 모바일 아이폰 기준 */
#header {
    width: 100%;
    min-width: 320px;
    position: relative;
    position: fixed;
    top: 0;
    z-index: 10;
    /* left: 0px;
    right: 0px; */
}
/* navbar */
.navbar_box {
    /* position: absolute; */
    width: 100%;
    height: 57px;
    align-items: center;
    background-color: #fff;
    z-index: 9999999;
}
.navbar {
    margin: 0 auto;
    margin: 12px 10px;
    position: absolute;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    display: flex;
    background-color: var(--background-color);
}
.navbar .logo01 {
    font-size: 25px;
}
.navbar_logo h1 {
    margin-left: -30px;
    height: 23px;
    background-size: 80%;
    background-image: url(./반응형_더케이\(클론코딩_참고자료\)/img/logo_site.svg);
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.search_hotel {
    position: relative;
    background-color: rgb(149, 119, 95);
    padding: 10px 17px;
    right: 0px;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}
/* 햄버거메뉴 */
.navbar_toggle_button {
    position: absolute;
    top: 3px;
}
.navbar_toggle_button span {
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 20px;
    height: 3px;
    background-color: rgb(3, 3, 3);
    border-radius: 4px;
    transition: all 0.4s;
}
.navbar_toggle_button span:nth-of-type(1) {
    top: 5px;
}
.navbar_toggle_button span:nth-of-type(2) {
    top: 12px;
}
.navbar_toggle_button span:nth-of-type(3) {
    top: 19px;
}
.navbar_toggle_button.active-1 span:nth-of-type(1) {
    transform: translateY(7px) rotate(-45deg);
}
.navbar_toggle_button.active-1 span:nth-of-type(2) {
    opacity: 0;
}
.navbar_toggle_button.active-1 span:nth-of-type(3) {
    transform: translateY(-7px) rotate(45deg);
}
/* 햄버거버튼 active 효과 */
.menu_box.active {
    background-color: #fff;
    width: 100%;
    height: 380px;
    border-top: 1px solid #999;
    z-index: 1;
}
.navbar_menu.active {
    position: relative;
    width: 80%;
    margin-left: 10%;
    display: none;
    padding-top: 40px;
    margin-top: 40px;
    flex-direction: column;
    z-index: 1;
}
.navbar_menu.active,
.navbar_language.active {
    display: flex;
}
/* menu_box */
.menu_box {
    position: relative;
    z-index: 1;
}
.navbar_menu {
    display: none;
    z-index: 1;
}
.navbar_menu li {
    align-items: center;
    border-bottom: 0.1em solid #999;
    padding: 20px 5px;
    align-items: center;
}
.navbar_menu .nav_text {
    font-size: 17px;
    color: #444;
    font-weight: 500;
}
.navbar_menu a i {
    position: absolute;
    margin-top: 6px;
    right: 0%;
    color: #777;
}
.navbar_language {
    display: flex;
    display: none;
    width: 48%;
    justify-content: space-between;
    font-size: 17px;
    color: #777;
    margin-top: 115px;
    margin-left: 25%;
}
.navbar_language li:hover {
    color: #444;
    border-bottom: 1px solid #444;
}
/* #main */
#main {
    /* position: absolute; */
    width: 100%;
    min-width: 375px;
    height: auto;
    z-index: -2;
    overflow-x: hidden;
}
/* main01 */
#main01 {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
    margin-top: 57px;
}
.main01_inner {
    position: relative;
    display: flex;
    height: 550px;
    z-index: 3;
}
.main_slide {
    width: 100%;
    height: 100%;
}
/* 슬라이드 속도 */
#main01 ul {
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.main01_inner .main01_img img {
    width: 375px;
    /* width: 420px; */
}
.main01_text_box {
    position: relative;
    z-index: 0;
    width: 100%;
    /* bottom: 42%; */
    bottom: 52%;
    color: #fff;
    left: 9%;
    font-family: 'KHNPHD', sans-serif;
}
.main01_text_box h1 {
    font-size: 26px;
    margin-bottom: 10px;
}
.main01_text {
    font-size: 13px;
}
.text02 {
    margin-bottom: 10px;
}
.main01_text_box button {
    width: 100px;
    height: 35px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
}
/* main02 */
#main02 {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgba(251, 251, 251, 0.884);
}
.main02_inner {
    position: relative;
    margin: 0 auto;
    height: 600px;
}
.promotion_box {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
.promotion_box h1 {
    font-size: 24px;
    letter-spacing: 0.5em;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.promotion_box p {
    margin: 0 auto;
    width: 283px;
    height: 45px;
    font-size: 13px;
    line-height: 19px;
    color: #666;
}
.slide_box {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.slide_box img {
    width: 290px;
    height: 230px;
}
.slide_box .slide_img_box {
    border-top: 2px solid #555555;
    margin-left: 20px;
}
.slide_img {
    width: 100%;
    height: auto;
}
.main02_slide_textbox {
    height: 70px;
    background-color: #fff;
    padding: 20px;
    text-align: left;
}
.text_title {
    width: 250px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #444;
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text_date {
    color: #777;
    font-size: 14px;
}
.local {
    position: relative;
    width: 39px;
    height: 15px;
    font-size: 13px;
    margin-top: 23px;
    padding: 7px 4px;
    margin-left: -8px;
    border: 1px solid rgb(34, 42, 79);
    background-color: rgb(34, 42, 79);
    text-align: center;
    color: #fff;
    font-weight: 500;
}
.slide_pagination {
    display: flex;
    gap: 0px;
    margin-top: 5%;
    justify-content: center;
}
.slide_pagination ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.slide_pagination li {
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 16px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 10px;
    margin: 0 5px;
    background-color: #ccc;
    cursor: pointer;
    text-indent: -9999px;
}
.slide_pagination {
    color: #909daf;
}
.slide_pagination .active {
    background-color: rgba(21, 41, 59, 0.849);
}
/* main03 */
#main03 {
    position: relative;
    width: 100%;
    height: 550px;
    margin-top: 0px;
}
.main03_inner {
    margin: 0 auto;
    height: 600px;
}
.package_box {
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
}
.package_box h1 {
    font-size: 24px;
    letter-spacing: 0.5em;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.package_box p {
    margin: 0 auto;
    width: 280px;
    height: 60px;
    font-size: 13px;
    line-height: 19px;
    color: #666;
}
.slide_box_main03 {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.slide_box_main03 img {
    width: 290px;
    height: 230px;
}
.slide_box_main03 .slide_img_box_main03 {
    border-top: 2px solid #444;
    margin-left: 20px;
}
.slide_img_main03 {
    width: 100%;
    height: auto;
}
.main03_slide_textbox {
    height: 70px;
    background-color: #fff;
    padding: 20px;
    text-align: left;
}
.text_title_main03 {
    width: 250px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #444;
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text_date_main03 {
    color: #777;
    font-size: 14px;
}
.local_main03 {
    position: relative;
    width: 39px;
    height: 15px;
    font-size: 13px;
    margin-top: 23px;
    padding: 7px 4px;
    margin-left: -8px;
    border: 1px solid rgb(34, 42, 79);
    background-color: rgb(34, 42, 79);
    text-align: center;
    color: #fff;
    font-weight: 500;
}
.slide_pagination {
    display: flex;
    gap: 0px;
    margin-top: 5%;
    justify-content: center;
}
.slide_pagination ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.slide_pagination li {
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 16px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 10px;
    margin: 0 5px;
    background-color: #ccc;
    cursor: pointer;
    text-indent: -9999px;
}
/* main04 TODO */
#main04 {
    width: 100%;
    height: 500px;
    margin-top: 100px;
}
.main04_inner {
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    height: 400px;
}
.main04_inner .todo_title {
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.5em;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
/* tab menu */
.tab_box .tabs_nav {
    min-width: 320px;
    width: 100%;
    display: table-cell;
    font-weight: 600;
    font-size: 14px;
    color: #999;
}
.tab_box .tabs_nav li {
    text-align: center;
    width: 27%;
    float: left;
    position: relative;
    background-color: #ebebeb;
}
.tab_box .tabs_nav a {
    display: block;
    position: relative;
    padding: 2em 0em;
}
.tab_box .tabs_nav li a.active {
    background-color: #fff;
    color: #000;
}
.tab_box .tabs_nav li a.active::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    top: 0px;
    height: 2px;
    background-color: #000;
}
.tab_box .tabs_nav li a.active::before {
    position: absolute;
    content: '';
    bottom: 5px;
    margin-left: 10px;
    border-bottom: 10px solid #4b4b4b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: rotate(180deg);
}
.tab_box .tabs_nav li:nth-child(3) a.active::before {
    position: absolute;
    content: '';
    bottom: 5px;
    margin-left: 16px;
    border-bottom: 10px solid #4b4b4b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: rotate(180deg);
}
.tab_body {
    position: relative;
    height: 400px;
}
.tab_body .tab_img {
    height: 100%;
    width: 100%;
    min-width: 320px;
    overflow: hidden;
}
.tab_body .tab_img img {
    position: absolute;
    min-width: 320px;
    width: 100%;
    height: 90%;
}
.tab_body .content {
    position: absolute;
    color: #fff;
}
.tab_body .content > .content_inner {
    padding: 15px;
    position: relative;
    top: 289px;
    width: 100%;
    min-width: 320px;
    width: 820px;
    font-size: 10px;
    letter-spacing: -0.5px;
    background-color: rgb(3, 3, 3, 0.5);
}
.content_inner .title {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bolder;
}
.content_inner .hash_tag {
    font-size: 11px;
    font-weight: bolder;
}
/* main 05 OVERVIEW */
#main05 {
    width: 100%;
    height: 550px;
}
.main05_inner {
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    height: 400px;
}
.main05_inner .overview_box {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}
.overview_box h1 {
    font-size: 29px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.overview_box p {
    margin: 0 auto;
    width: 300px;
    height: 56px;
    font-size: 13px;
    line-height: 19px;
    color: #666;
}
/* 태블릿 아이패드 air */
@media all and (min-width: 768px) {
    body {
        background-color: cornflowerblue;
    }
}
/* 데스크탑 */
@media all and (min-width: 960px) {
    body {
        background-color: darkkhaki;
    }
}
